In [30]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [31]:
df = pd.read_csv("python-applications\data_analysis\minimum_wage\minimum_wage_1968-2020\MinimumWageData.csv")

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\jeffl\AppData\Local\Temp\ipykernel_40772\583818757.py:1: SyntaxWarning: invalid escape sequence '\d'
  df = pd.read_csv("python-applications\data_analysis\minimum_wage\minimum_wage_1968-2020\MinimumWageData.csv")
C:\Users\jeffl\AppData\Local\Temp\ipykernel_40772\583818757.py:1: SyntaxWarning: invalid escape sequence '\d'
  df = pd.read_csv("python-applications\data_analysis\minimum_wage\minimum_wage_1968-2020\MinimumWageData.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'python-applications\\data_analysis\\minimum_wage\\minimum_wage_1968-2020\\MinimumWageData.csv'

In [27]:
df.head()

,Year,State,State.Minimum.Wage,State.Minimum.Wage.2020.Dollars,Federal.Minimum.Wage,Federal.Minimum.Wage.2020.Dollars,Effective.Minimum.Wage,Effective.Minimum.Wage.2020.Dollars,CPI.Average,Department.Of.Labor.Uncleaned.Data,Department.Of.Labor.Cleaned.Low.Value,Department.Of.Labor.Cleaned.Low.Value.2020.Dollars,Department.Of.Labor.Cleaned.High.Value,Department.Of.Labor.Cleaned.High.Value.2020.Dollars,Footnote
0,1968,Alabama,0.00000,0.00,1.15,8.55,1.15,8.55,34.8,...,0.00000,0.00,0.00000,0.00,NaN
1,1968,Alaska,2.10000,15.61,1.15,8.55,2.10,15.61,34.8,2.1,2.10000,15.61,2.10000,15.61,NaN
2,1968,Arizona,0.46800,3.48,1.15,8.55,1.15,8.55,34.8,18.72 - 26.40/wk(b),0.46800,3.48,0.66000,4.91,(b)
3,1968,Arkansas,0.15625,1.16,1.15,8.55,1.15,8.55,34.8,1.25/day(b),0.15625,1.16,0.15625,1.16,(b)
4,1968,California,1.65000,12.26,1.15,8.55,1.65,12.26,34.8,1.65(b),1.65000,12.26,1.65000,12.26,(b)

Description of the data:

Year: Year of data

State: State/Territory of data

Table_Data: The scraped, unclean data from the US Department of Labor.

Footnote: The footnote associated with Table_Data, provided by the US Department of Labor.

High.Value: As there were some values in Table_Data that had multiple values (usually associated with footnotes), this is the higher of the two values in the table. It could be useful for viewing the proposed minimum wage, because in most cases, the higher value meant that all persons protected under minimum wage laws eventually had minimum wage set at that value.

Low.Value: This is the same as High.Value, but has the lower of the two values. This could be useful for viewing the effective minimum wage at the year of setting the minimum wage, as peoples protected under such minimum wage laws made that value during that year (although, in most cases, they had a higher minimum wage after that year).

CPI.Average: This is the average Consumer Price Index associated with that year. It was used to calculate 2018-equivalent values.

High.2018: This is the 2018-equivalent dollars for High.Value.

Low.2018: This is the 2018-equivalent dollars for Low.Value.

In [ ]:
# UnicodeDecodeError: 'utf-8' codec can't decode byte 0xa0 in position 0: invalid start byte
df = pd.read_csv("datasets/Minimum Wage Data.csv", encoding="latin")

Right away, we've got some encoding issues. Looks like the user saved the formatting funky-like. Because the data was grabbed from the internet, it would have made more sense to leave it in UTF-8, but, for whatever reason, that wasn't the case, and I initially hit an encoding error on loading it in. I tried latin encoding next, and boom, there we go. Now, let's go ahead and just save our own version, with utf-8 encoding!

In [40]:
group_by_state = df.groupby("State")
group_by_state.head()

,Year,State,State.Minimum.Wage,State.Minimum.Wage.2020.Dollars,Federal.Minimum.Wage,Federal.Minimum.Wage.2020.Dollars,Effective.Minimum.Wage,Effective.Minimum.Wage.2020.Dollars,CPI.Average,Department.Of.Labor.Uncleaned.Data,Department.Of.Labor.Cleaned.Low.Value,Department.Of.Labor.Cleaned.Low.Value.2020.Dollars,Department.Of.Labor.Cleaned.High.Value,Department.Of.Labor.Cleaned.High.Value.2020.Dollars,Footnote
0,1968,Alabama,0.00000,0.00,1.15,8.55,1.15,8.55,34.8,...,0.00000,0.00,0.00000,0.00,NaN
1,1968,Alaska,2.10000,15.61,1.15,8.55,2.10,15.61,34.8,2.1,2.10000,15.61,2.10000,15.61,NaN
2,1968,Arizona,0.46800,3.48,1.15,8.55,1.15,8.55,34.8,18.72 - 26.40/wk(b),0.46800,3.48,0.66000,4.91,(b)
3,1968,Arkansas,0.15625,1.16,1.15,8.55,1.15,8.55,34.8,1.25/day(b),0.15625,1.16,0.15625,1.16,(b)
4,1968,California,1.65000,12.26,1.15,8.55,1.65,12.26,34.8,1.65(b),1.65000,12.26,1.65000,12.26,(b)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,1972,Virginia,0.00000,0.00,1.60,9.90,1.60,9.90,41.8,...,0.00000,0.00,0.00000,0.00,NaN
266,1972,Washington,1.60000,9.90,1.60,9.90,1.60,9.90,41.8,1.6,1.60000,9.90,1.60000,9.90,NaN
267,1972,West Virginia,1.20000,7.43,1.60,9.90,1.60,9.90,41.8,1.2,1.20000,7.43,1.20000,7.43,NaN
268,1972,Wisconsin,1.45000,8.97,1.60,9.90,1.60,9.90,41.8,1.45 (b),1.45000,8.97,1.45000,8.97,(b)
269,1972,Wyoming,1.50000,9.28,1.60,9.90,1.60,9.90,41.8,1.5,1.50000,9.28,1.50000,9.28,NaN

In [41]:
group_by_state.get_group("Alabama").set_index("Year")

,State,State.Minimum.Wage,State.Minimum.Wage.2020.Dollars,Federal.Minimum.Wage,Federal.Minimum.Wage.2020.Dollars,Effective.Minimum.Wage,Effective.Minimum.Wage.2020.Dollars,CPI.Average,Department.Of.Labor.Uncleaned.Data,Department.Of.Labor.Cleaned.Low.Value,Department.Of.Labor.Cleaned.Low.Value.2020.Dollars,Department.Of.Labor.Cleaned.High.Value,Department.Of.Labor.Cleaned.High.Value.2020.Dollars,Footnote
Year,,,,,,,,,,,,,,
1968,Alabama,0.0,0.0,1.15,8.55,1.15,8.55,34.800,...,0.0,0.0,0.0,0.0,NaN
1969,Alabama,0.0,0.0,1.15,8.11,1.15,8.11,36.700,...,0.0,0.0,0.0,0.0,NaN
1970,Alabama,0.0,0.0,1.30,8.67,1.30,8.67,38.800,...,0.0,0.0,0.0,0.0,NaN
1971,Alabama,0.0,0.0,1.30,8.30,1.30,8.30,40.500,...,0.0,0.0,0.0,0.0,NaN
1972,Alabama,0.0,0.0,1.60,9.90,1.60,9.90,41.800,...,0.0,0.0,0.0,0.0,NaN
1973,Alabama,0.0,0.0,1.60,9.32,1.60,9.32,44.400,...,0.0,0.0,0.0,0.0,NaN
1974,Alabama,0.0,0.0,1.60,8.39,1.60,8.39,49.300,...,0.0,0.0,0.0,0.0,NaN
1975,Alabama,0.0,0.0,1.60,7.69,1.60,7.69,53.800,...,0.0,0.0,0.0,0.0,NaN
1976,Alabama,0.0,0.0,2.20,10.00,2.20,10.00,56.900,...,0.0,0.0,0.0,0.0,NaN
1977,Alabama,0.0,0.0,2.20,9.39,2.20,9.39,60.600,...,0.0,0.0,0.0,0.0,NaN
1978,Alabama,0.0,0.0,2.20,8.73,2.20,8.73,65.200,...,0.0,0.0,0.0,0.0,NaN
1979,Alabama,0.0,0.0,2.90,10.33,2.90,10.33,72.600,...,0.0,0.0,0.0,0.0,NaN
1980,Alabama,0.0,0.0,3.10,9.73,3.10,9.73,82.400,...,0.0,0.0,0.0,0.0,NaN
1981,Alabama,0.0,0.0,3.35,9.53,3.35,9.53,90.900,...,0.0,0.0,0.0,0.0,NaN
1982,Alabama,0.0,0.0,3.35,8.98,3.35,8.98,96.500,...,0.0,0.0,0.0,0.0,NaN
1983,Alabama,0.0,0.0,3.35,8.70,3.35,8.70,99.600,...,0.0,0.0,0.0,0.0,NaN
1984,Alabama,0.0,0.0,3.35,8.34,3.35,8.34,103.900,...,0.0,0.0,0.0,0.0,NaN
1985,Alabama,0.0,0.0,3.35,8.05,3.35,8.05,107.600,...,0.0,0.0,0.0,0.0,NaN
1986,Alabama,0.0,0.0,3.35,7.91,3.35,7.91,109.600,...,0.0,0.0,0.0,0.0,NaN
1987,Alabama,0.0,0.0,3.35,7.63,3.35,7.63,113.600,...,0.0,0.0,0.0,0.0,NaN
1988,Alabama,0.0,0.0,3.35,7.32,3.35,7.32,118.300,...,0.0,0.0,0.0,0.0,NaN
1989,Alabama,0.0,0.0,3.35,6.99,3.35,6.99,124.000,...,0.0,0.0,0.0,0.0,NaN
1990,Alabama,0.0,0.0,3.35,6.63,3.35,6.63,130.700,...,0.0,0.0,0.0,0.0,NaN
1991,Alabama,0.0,0.0,3.80,7.22,3.80,7.22,136.200,...,0.0,0.0,0.0,0.0,NaN
1992,Alabama,0.0,0.0,4.25,7.84,4.25,7.84,140.300,...,0.0,0.0,0.0,0.0,NaN
1993,Alabama,0.0,0.0,4.25,7.61,4.25,7.61,144.500,...,0.0,0.0,0.0,0.0,NaN
1994,Alabama,0.0,0.0,4.25,7.42,4.25,7.42,148.200,...,0.0,0.0,0.0,0.0,NaN
1995,Alabama,0.0,0.0,4.25,7.21,4.25,7.21,152.400,...,0.0,0.0,0.0,0.0,NaN
1996,Alabama,0.0,0.0,4.25,7.01,4.25,7.01,156.900,...,0.0,0.0,0.0,0.0,NaN
1997,Alabama,0.0,0.0,4.75,7.66,4.75,7.66,160.500,...,0.0,0.0,0.0,0.0,NaN
1998,Alabama,0.0,0.0,5.15,8.17,5.15,8.17,163.000,...,0.0,0.0,0.0,0.0,NaN
1999,Alabama,0.0,0.0,5.15,8.00,5.15,8.00,166.600,...,0.0,0.0,0.0,0.0,NaN
2000,Alabama,0.0,0.0,5.15,7.74,5.15,7.74,172.200,...,0.0,0.0,0.0,0.0,NaN
2001,Alabama,0.0,0.0,5.15,7.52,5.15,7.52,177.100,...,0.0,0.0,0.0,0.0,NaN
2002,Alabama,0.0,0.0,5.15,7.40,5.15,7.40,179.900,...,0.0,0.0,0.0,0.0,NaN
2003,Alabama,0.0,0.0,5.15,7.24,5.15,7.24,184.000,...,0.0,0.0,0.0,0.0,NaN
2004,Alabama,0.0,0.0,5.15,7.05,5.15,7.05,188.900,...,0.0,0.0,0.0,0.0,NaN
2005,Alabama,0.0,0.0,5.15,6.82,5.15,6.82,195.300,...,0.0,0.0,0.0,0.0,NaN
2006,Alabama,0.0,0.0,5.15,6.61,5.15,6.61,201.600,...,0.0,0.0,0.0,0.0,NaN
2007,Alabama,0.0,0.0,5.15,6.42,5.15,6.42,207.342,...,0.0,0.0,0.0,0.0,NaN
2008,Alabama,0.0,0.0,5.85,7.03,5.85,7.03,215.303,...,0.0,0.0,0.0,0.0,NaN
2009,Alabama,0.0,0.0,6.55,7.90,6.55,7.90,214.537,...,0.0,0.0,0.0,0.0,NaN
2010,Alabama,0.0,0.0,7.25,8.60,7.25,8.60,218.056,...,0.0,0.0,0.0,0.0,NaN
2011,Alabama,0.0,0.0,7.25,8.34,7.25,8.34,224.939,...,0.0,0.0,0.0,0.0,NaN
2012,Alabama,0.0,0.0,7.25,8.17,7.25,8.17,229.594,...,0.0,0.0,0.0,0.0,NaN
2013,Alabama,0.0,0.0,7.25,8.05,7.25,8.05,232.957,...,0.0,0.0,0.0,0.0,NaN
2014,Alabama,0.0,0.0,7.25,7.92,7.25,7.92,236.736,...,0.0,0.0,0.0,0.0,NaN
2015,Alabama,0.0,0.0,7.25,7.91,7.25,7.91,237.017,...,0.0,0.0,0.0,0.0,NaN
2016,Alabama,0.0,0.0,7.25,7.81,7.25,7.81,240.007,...,0.0,0.0,0.0,0.0,NaN
2017,Alabama,0.0,0.0,7.25,7.65,7.25,7.65,245.120,...,0.0,0.0,0.0,0.0,NaN
2018,Alabama,0.0,0.0,7.25,7.47,7.25,7.47,251.107,...,0.0,0.0,0.0,0.0,NaN
2019,Alabama,0.0,0.0,7.25,7.34,7.25,7.34,255.657,...,0.0,0.0,0.0,0.0,NaN
2020,Alabama,0.0,0.0,7.25,7.25,7.25,7.25,258.660,...,0.0,0.0,0.0,0.0,NaN

In [47]:
# lets move these rows into each of their individual columns

act_min_wage = pd.DataFrame()

for name, group in df.groupby("State"):
    desired_data_points = 'State.Minimum.Wage'
    if act_min_wage.empty:
        act_min_wage = group.set_index("Year")[[desired_data_points]].rename(columns={desired_data_points:name})
    else:
        act_min_wage = act_min_wage.join(group.set_index("Year")[[desired_data_points]].rename(columns={desired_data_points:name}))

act_min_wage.head()

,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Florida,...,Tennessee,Texas,U.S. Virgin Islands,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
Year,,,,,,,,,,,,,,,,,,,,,
1968,0.0,2.1,0.468,0.15625,1.65,1.0,1.40,1.25,1.25,0.0,...,0.0,0.0,0.0,1.0,1.4,0.0,1.6,1.0,1.25,1.2
1969,0.0,2.1,0.468,0.15625,1.65,1.0,1.40,1.25,1.25,0.0,...,0.0,0.0,0.0,1.0,1.4,0.0,1.6,1.0,1.25,1.2
1970,0.0,2.1,0.468,1.10000,1.65,1.0,1.60,1.25,1.60,0.0,...,0.0,0.0,0.0,1.0,1.6,0.0,1.6,1.0,1.30,1.3
1971,0.0,2.1,0.468,1.10000,1.65,1.0,1.60,1.25,1.60,0.0,...,0.0,0.0,0.0,1.0,1.6,0.0,1.6,1.0,1.30,1.3
1972,0.0,2.1,0.468,1.20000,1.65,1.0,1.85,1.60,1.60,0.0,...,0.0,1.4,0.0,1.2,1.6,0.0,1.6,1.2,1.45,1.5

In [48]:
act_min_wage.corr().head() # gets the correlation for CPI

,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Florida,...,Tennessee,Texas,U.S. Virgin Islands,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Alaska,NaN,1.000000,0.813187,0.981938,0.986455,0.970585,0.992234,0.971193,0.973326,0.834101,...,NaN,0.948283,0.781511,0.961031,0.992841,0.953998,0.974007,0.984063,0.966210,0.876241
Arizona,NaN,0.813187,1.000000,0.805781,0.853713,0.878803,0.827466,0.786208,0.860865,0.952754,...,NaN,0.806554,0.524404,0.761328,0.840408,0.724143,0.853009,0.835118,0.776753,0.770526
Arkansas,NaN,0.981938,0.805781,1.000000,0.981222,0.974544,0.980991,0.971062,0.976168,0.805780,...,NaN,0.935556,0.826498,0.954685,0.982433,0.953048,0.965271,0.983518,0.961117,0.816334
California,NaN,0.986455,0.853713,0.981222,1.000000,0.987726,0.992328,0.969744,0.982806,0.853217,...,NaN,0.939076,0.793820,0.946546,0.992023,0.931147,0.987628,0.977868,0.950854,0.873317

In [ ]:
act_min_wage.cov().head() # gets the covariance

,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Florida,...,Tennessee,Texas,U.S. Virgin Islands,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
Alabama,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Alaska,0.0,5.877883,7.622657,5.652116,7.139151,7.157385,6.757735,5.978340,8.171514,7.057709,...,0.0,5.566479,4.216454,5.146522,6.811346,5.606724,8.063931,5.781979,4.782702,3.710884
Arizona,0.0,7.622657,14.948956,7.396720,9.853183,10.334925,8.987356,7.718041,11.525886,12.856447,...,0.0,7.550424,4.512046,6.501947,9.194713,6.787055,11.262465,7.825221,6.131682,5.203986
Arkansas,0.0,5.652116,7.396720,5.636811,6.954132,7.037661,6.542717,5.853671,8.025549,6.676795,...,0.0,5.377978,4.366770,5.006603,6.600276,5.485076,7.826008,5.659036,4.658907,3.385540
California,0.0,7.139151,9.853183,6.954132,8.910829,8.968210,8.321296,7.349885,10.159226,8.889004,...,0.0,6.787222,5.273306,6.241186,8.379606,6.737966,10.067622,7.074287,5.795142,4.553804

In [53]:
new_df = df[df['State.Minimum.Wage']==0]

new_df.head() # grabbing the value corresponding to the state minimum wage being 0

,Year,State,State.Minimum.Wage,State.Minimum.Wage.2020.Dollars,Federal.Minimum.Wage,Federal.Minimum.Wage.2020.Dollars,Effective.Minimum.Wage,Effective.Minimum.Wage.2020.Dollars,CPI.Average,Department.Of.Labor.Uncleaned.Data,Department.Of.Labor.Cleaned.Low.Value,Department.Of.Labor.Cleaned.Low.Value.2020.Dollars,Department.Of.Labor.Cleaned.High.Value,Department.Of.Labor.Cleaned.High.Value.2020.Dollars,Footnote
0,1968,Alabama,0.0,0.0,1.15,8.55,1.15,8.55,34.8,...,0.0,0.0,0.0,0.0,NaN
9,1968,Florida,0.0,0.0,1.15,8.55,1.15,8.55,34.8,...,0.0,0.0,0.0,0.0,NaN
10,1968,Georgia,0.0,0.0,1.15,8.55,1.15,8.55,34.8,...,0.0,0.0,0.0,0.0,NaN
14,1968,Illinois,0.0,0.0,1.15,8.55,1.15,8.55,34.8,...,0.0,0.0,0.0,0.0,NaN
16,1968,Iowa,0.0,0.0,1.15,8.55,1.15,8.55,34.8,...,0.0,0.0,0.0,0.0,NaN

In [54]:
new_df['State'].unique()

array(['Alabama', 'Florida', 'Georgia', 'Illinois', 'Iowa', 'Kansas',
       'Louisiana', 'Mississippi', 'Missouri', 'Montana',
       'South Carolina', 'Tennessee', 'Texas', 'U.S. Virgin Islands',
       'Virginia', 'Arizona', 'Puerto Rico'], dtype=object)

In [43]:
# case testing 
df

,Year,State,State.Minimum.Wage,State.Minimum.Wage.2020.Dollars,Federal.Minimum.Wage,Federal.Minimum.Wage.2020.Dollars,Effective.Minimum.Wage,Effective.Minimum.Wage.2020.Dollars,CPI.Average,Department.Of.Labor.Uncleaned.Data,Department.Of.Labor.Cleaned.Low.Value,Department.Of.Labor.Cleaned.Low.Value.2020.Dollars,Department.Of.Labor.Cleaned.High.Value,Department.Of.Labor.Cleaned.High.Value.2020.Dollars,Footnote
0,1968,Alabama,0.00000,0.00,1.15,8.55,1.15,8.55,34.80,...,0.00000,0.00,0.00000,0.00,NaN
1,1968,Alaska,2.10000,15.61,1.15,8.55,2.10,15.61,34.80,2.1,2.10000,15.61,2.10000,15.61,NaN
2,1968,Arizona,0.46800,3.48,1.15,8.55,1.15,8.55,34.80,18.72 - 26.40/wk(b),0.46800,3.48,0.66000,4.91,(b)
3,1968,Arkansas,0.15625,1.16,1.15,8.55,1.15,8.55,34.80,1.25/day(b),0.15625,1.16,0.15625,1.16,(b)
4,1968,California,1.65000,12.26,1.15,8.55,1.65,12.26,34.80,1.65(b),1.65000,12.26,1.65000,12.26,(b)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2857,2020,Virginia,7.25000,7.25,7.25,7.25,7.25,7.25,258.66,7.25[c],7.25000,7.25,7.25000,7.25,[c]
2858,2020,Washington,13.50000,13.50,7.25,7.25,13.50,13.50,258.66,13.5,13.50000,13.50,13.50000,13.50,NaN
2859,2020,West Virginia,8.75000,8.75,7.25,7.25,8.75,8.75,258.66,8.75,8.75000,8.75,8.75000,8.75,NaN
2860,2020,Wisconsin,7.25000,7.25,7.25,7.25,7.25,7.25,258.66,7.25,7.25000,7.25,7.25000,7.25,NaN
2861,2020,Wyoming,5.15000,5.15,7.25,7.25,7.25,7.25,258.66,5.15,5.15000,5.15,5.15000,5.15,NaN

In [55]:
act_min_wage.replace(0, np.NaN).dropna(axis=1).corr().head()

,Alaska,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Guam,Hawaii,Idaho,...,Oregon,Pennsylvania,Rhode Island,South Dakota,Utah,Vermont,Washington,West Virginia,Wisconsin,Wyoming
Alaska,1.000000,0.981938,0.986455,0.970585,0.992234,0.971193,0.973326,0.979386,0.986835,0.958666,...,0.989706,0.959445,0.991785,0.980783,0.961031,0.992841,0.974007,0.984063,0.966210,0.876241
Arkansas,0.981938,1.000000,0.981222,0.974544,0.980991,0.971062,0.976168,0.975847,0.989265,0.951022,...,0.982317,0.957945,0.986417,0.984424,0.954685,0.982433,0.965271,0.983518,0.961117,0.816334
California,0.986455,0.981222,1.000000,0.987726,0.992328,0.969744,0.982806,0.967800,0.981436,0.946857,...,0.985984,0.946763,0.989798,0.974206,0.946546,0.992023,0.987628,0.977868,0.950854,0.873317
Colorado,0.970585,0.974544,0.987726,1.000000,0.980025,0.968148,0.986274,0.961301,0.973284,0.942145,...,0.977187,0.939117,0.980496,0.970238,0.940727,0.982147,0.982347,0.972318,0.943689,0.845495
Connecticut,0.992234,0.980991,0.992328,0.980025,1.000000,0.981611,0.972706,0.976996,0.984969,0.963695,...,0.993275,0.965274,0.994482,0.979789,0.964255,0.997531,0.984275,0.986163,0.971129,0.894385

In [56]:
min_wage_corr = act_min_wage.replace(0, np.NaN).dropna(axis=1).corr()